# Logs
/backend-server/npm-debug.log*
/backend-server/yarn-debug.log*
/backend-server/yarn-error.log*

# Dependency directories
/backend-server/node_modules
/frontend/node_modules
/backend-server/package-lock.json
/backend-server/yarn-lock.json
/frontend/package-lock.json

# dotenv environment variables file
/backend-server/.env
/frontend/.env

# build / generate output
/backend-server/dist/server.generated.js
/frontend/dist

