.templateOneWrapper {
  .headerSubWrapper {
    @include displayFlex();
    @include flexDirection(row);
    justify-content: space-between;
    ul {
      @include displayFlex();
    }
    .profileInfo {
      @include displayFlex();
      .profilePicWrapper {
        @include displayFlex();
        @include flexDirection(row);
        img {
          width: 30px;
          height: 30px;
          border-radius: 50px;
        }
        span {
          padding-top: 5px;
          padding-bottom: 0px !important;
          color: $white;
        }
      }
    }
  }
  .bodyWrapper {
    padding-top: 100px;
  }
}

.pageLoader {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: $lightGrayColor;
  width: 100%;
  position: fixed;
  z-index: 99999999999999999;

  .loader {
    position: absolute;
    left: 50%;
    top: 45%;
    color: $purple !important;
  }
}
